#contact-info{
	font-size: .8em;
}
section.job{
	background-color: #e9e5dc;
	padding: 10px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 25px;
}
ul.accomplishment{
	font-size: .8em;
}
/*This was a change for the first letter of the job and volunteer title listings*/
/*This uses a pseudo-selector and is manipulating a child element*/
section h3::first-letter{
	font-size: 1.5em;
}